:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;

  --primary-900: #141233;
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #3c3031;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* fonts  */
  --headingFont: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

.container {
  width: 1090px;
  margin: 10px auto;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    ". box-2 box-3 side"
    "foot foot foot foot";
}

.container--2 {
  width: 1090px;
  margin: 10px auto;
  display: grid;
  grid-template-rows: 100px 1fr 50px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.container--3 {
  width: 1090px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.container--4 {
  width: 1090px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 6rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  list-style-type: none;
  padding: 0;
}

.text {
  grid-column: 1 / span 2;
}
.text__heading {
  font-size: 4rem;
  font-weight: 700;
}
.text__heading--2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--headingFont);
}
.text__text {
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 40em;
  font-size: 1.5rem;
}
.text__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 1rem;
  margin: 2rem 0;
  font-size: 2.5rem;
  color: var(--primary-500);
}
.text__letter {
  color: var(--black);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.text__mins {
  color: var(--black);
  font-size: 1rem;
}

.signin {
  grid-column: 3 / span 2;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  display: inline-block;
  text-decoration: none;
}
.btn__tags {
  padding: 0.5rem;
  font-size: 0.9rem;
  display: flex;
}
.btn__block {
  margin-top: 2rem;
  overflow: visible;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}

.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

.image {
  grid-column: 3 / span 2;
}
.image__img {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.look {
  height: 4rem;
  text-align: center;
  padding: 3rem;
  grid-column: 2 / span 2;
  grid-row: 3 / 3;
}
.look__text {
  font-size: 2rem;
  color: var(--black);
}

.recipes {
  display: flex;
  flex-direction: column;
  color: var(--grey-400);
}

.card__img {
  width: 30rem;
  height: 20rem;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
  border: none;
}
.card__img__link {
  cursor: pointer;
}

.card__name {
  color: var(--grey-700);
  font-size: 2rem;
}

.card__time {
  color: var(--grey-400);
  letter-spacing: 0.3rem;
  font-size: 1rem;
}

.card__content {
  margin-top: 5rem;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
  height: 120%;
  border: none;
}

.card--2 {
  grid-column: 1 / -1;
  grid-row: 4 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
.card--2__img {
  width: 40rem;
  height: 20rem;
}

.card--3 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
.card--3__img {
  width: 40rem;
  height: 15rem;
}

.tags {
  grid-column: 1 /-1;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
.tags__link {
  background-color: var(--grey-500);
  transition: all 0.2s;
}
.tags__link:hover {
  background-color: var(--primary-700);
}
.tags__card {
  background-color: var(--grey-500);
  transition: all 0.2s;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
}
.tags__card:hover {
  background-color: var(--primary-700);
}
.tags__text {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}
.tags__recipe {
  font-size: 1.5rem;
  margin-top: -1.5rem;
}

.form {
  background-color: var(--white);
  padding: 2.5rem 2.5rem;
}
.form__input {
  background-color: var(--primary-100);
  width: 50rem;
  height: 3rem;
  border-radius: var(--borderRadius);
  border: 1px solid var(--grey-200);
  overflow: visible;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.form__label {
  display: flex;
  padding: 2rem 0;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.form__textarea {
  background-color: var(--primary-100);
  width: 50rem;
  height: 12rem;
  border-radius: var(--borderRadius);
  border: 1px solid var(--grey-200);
  overflow: visible;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.pancake {
  display: flex;
  align-items: center;
  text-align: center;
}
.pancake__tag {
  margin-top: 1.5rem;
  padding: 0.5rem;
}

.header {
  background-color: black;
  grid-column: header;
  background-image: url(../img/main.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  align-items: center;
  border-radius: var(--border-box);
  background-color: rgba(0, 0, 0, 0.4);
}
.header__text {
  color: var(--white);
  position: absolute;
  top: 35%;
  left: 42%;
  transform: translate(-20%, -20%);
  font-size: 6rem;
  display: inline-block;
  text-align: center;
}

.head {
  grid-column: 1 / -1;
}

.cards {
  background-color: red;
}

.footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
  margin-top: 3.7%;
  padding: 3rem;
  grid-area: foot;
}
.footer__text {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2rem;
}
.footer__logo {
  color: var(--primary-800);
}
.footer--1 {
  margin-top: 30.8%;
}

.nav {
  grid-column: 1/ -1;
  display: grid;
  align-items: center;
  grid-template-columns: 30rem repeat(4, 8rem) max-content;
  transition: var(--transition);
}
.nav__logo {
  padding: 0;
  margin-right: 2rem;
  height: auto;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1;
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
  padding: 1rem;
}
.nav__link:hover,
.nav__link:active {
  color: var(--primary-700);
}

.contact-link {
  margin: 2rem;
  grid-column: 50 / span 1;
}
